{% extends 'base.html' %}

{% block title %}My Courses{% endblock %}

{% block content %}

    <div class="container-fluid">
    <div class="row">
        {% for course in object_list %}
            <div class="col-sm-3">
            <div class="thumbnail">
            <img class="img img-responsive img img-thumbnail" src="{{ course.cover.url }}" alt="" style="width: 200px; height: 170px;">
            <div class="caption" style="padding-left: 25px;">
                <h5>{{ course.title }}&nbsp;<small style="float: right; padding-top: 5px;">{{ course.created|date:"M d, Y" }}</small></h5>
                <a href="{% url 'courses:course_edit' course.id %}" class="btn btn-info btn-xs">
                    <span class="glyphicon glyphicon-pencil"></span>&nbsp;
                </a>
                <a href="{% url 'courses:course_delete' course.id %}" class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-trash"></span>&nbsp;
                </a>
            </div>
            </div>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}